body {
    background-color: #9ac8c8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: helvetica;
}

.login-section {
    background-color: #fff;
    max-width: 500px;
    margin-top: calc(50vh - 175px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.login-section input {
    width: 95%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 0.2px solid rgba(0, 0, 0, 0.2);
}

.login-section button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #FFF;
    background-color: #151595;
}

.login-section button:hover {
    filter: brightness(120%);
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.tzeeter-logo-section {
    text-align: center;
}